<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img style="width: 100px;" src="../assets/logo.svg" alt="logo">
    </a>
    <form class="d-flex justify-content-start">
      <button class="btn me-2" (click)="setActive('v1')" 
      [ngClass]="{'btn-info': active_btn == 'v1', 'btn-secondary': active_btn != 'v1'}" 
      type="button">Search V1</button>
      <button class="btn me-2" (click)="setActive('v2')" 
      [ngClass]="{'btn-info': active_btn == 'v2', 'btn-secondary': active_btn != 'v2'}" 
      type="button">Search V2</button>
      <button class="btn me-2" (click)="setActive('v3')" 
      [ngClass]="{'btn-info': active_btn == 'v3', 'btn-secondary': active_btn != 'v3'}" 
      type="button">Search V3</button>
    </form>
  </div>
</nav>


<div class="text-bg-info">
  <div class="container-fluid">
    <div class="row p-1">
      <span class="col-3" *ngIf="file_list.length == 0">
        No files present in the directory
      </span>
      <div class="col-3" *ngFor="let file of file_list">
        <!-- <button class="btn btn-primary btn-sm mt-2"> -->
          <input type="radio" id="{{file}}" [(ngModel)]="payload.filename" value="{{file}}"> &nbsp; <label for="{{file}}">{{file}}</label>
        <!-- </button> -->
      </div>
    </div>
  </div>
  <hr>
  <form class="d-flex p-3 pt-0" role="search">
    <input class="form-control me-2" [(ngModel)]="payload.keyword" name="keyword" type="search" placeholder="Enter Search Keyword Here" aria-label="Search">
    <select class="form-control me-2" [(ngModel)]="payload.count" name="count">
      <option value="0">All Records</option>
      <option value="20">Top 20 Records</option>
      <option value="50">Top 50 Records</option>
      <option value="100">Top 100 Records</option>
      <option value="500">Top 500 Records</option>
    </select>
    <!-- <input [disabled]="!disable_chunk" class="form-control me-2" [(ngModel)]="payload.chunk_size" name="chunk_size" type="number" placeholder="Chunk Size" aria-label="Search"> -->
    <button class="btn btn-success me-2" type="submit" (click)="search()">Search </button>
    <button class="btn btn-danger" type="submit" (click)="init_payload()">Reset </button>
  </form>
</div>
<!-- {{payload | json}} -->
{{log_data | json}}

<router-outlet></router-outlet>